@{
    ViewBag.Title = "Forgot Password Confirmation";
}
    <hgroup class="title">
        <h1 style="margin-top:50px; margin-bottom:50px">@ViewBag.Title</h1>
    </hgroup>
    <div>
        <p>
            This email does not exist. @Html.ActionLink("Click here", "ForgotPassword") to Enter Again Email Address.
        </p>
    </div>


